{% load socialaccount %}
<nav class="navbar navbar-expand-lg custom_nav-container ">
  <a class="navbar-brand" href="{% url 'restaurants:post-list' %}">
    <span>
      sesac
    </span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class=""> </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav  mx-auto ">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'restaurants:main-detail' %}">네비게이션1 </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'restaurants:post-list' %}">네비게이션2</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'restaurants:post-list' %}">네비게이션3</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'restaurants:main-detail' %}">네비게이션4</a>
      </li>
    </ul>
    <div class="user_option">
      <a href="" class="user_link">
        <i class="fa fa-user" aria-hidden="true"></i>
      </a>
      <a class="cart_link" href="{% url 'restaurants:main-detail' %}">
        <span>장바구니</span>
      </a>
      <a class="cart_link" href="/mypage/orders/">
        <span>마이페이지</span>
      </a>
    </div>
  </div>

  <ul class="navbar-nav ms-auto">
       {% if user.is_authenticated %}
    <p>안녕하세요, {{ user.username }}님!</p>

    <form action="{% url 'accounts:logout' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-link" style="padding:0; border:none;">로그아웃</button>
     </form>
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a>
        {% endif %}
  </ul>
</nav>


