{% extends 'main/base.html' %}
{% load static %}
{% load custom_filters %}

    {% block title %}
        <title>sesac_web_main</title>
    {% endblock %}

 <!-- 배너 영역 -->
    {% block banner %}
    <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'images/background.png' %}" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">

      </div>
    </header>
    <!-- end header section -->
    <!-- slider section  상단 베너 이미지로 넣고 쓰면 됨 -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="bg-box">
               <img src="{% static 'images/about-img.png' %} " alt="배너1 배경">
            </div>
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      1번 베너 영역
                    </h1>
                    <p>
                     1번 베너 내용
                    </p>
                    <div class="btn-box">
                      <a href="장바구니 페이지로 이동" class="btn1">
                        Order Now
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="bg-box">
               <img src="{% static 'images/about-img.png' %} " alt="배너1 배경">
            </div>
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      2번 베너 영역
                    </h1>
                    <p>
                      2번 베너 내용
                    </p>
                    <div class="btn-box">
                      <a href="장바구니 페이지로 이동 " class="btn1">
                        Order Now
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="bg-box">
               <img src="이미지 배경 " alt="배너1 배경">
            </div>
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      3번 베너 영역
                    </h1>
                    <p>
                      3번 베너 내용
                    </p>
                    <div class="btn-box">
                      <a href="장바구니 페이지로 이동" class="btn1">
                        Order Now
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
          </ol>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>
    {% endblock %}

<!-- 인기 음식점 -->


    {% block popular_restaurants %}
       <!-- offer section -->
      <section class="offer_section layout_padding-bottom">
        <div class="offer_container">
          <div class="container ">
            <div class="row">
              <div class="col-md-6  ">
                <div class="box ">
                  <div class="img-box">
                    <img src="이미지 추가" alt="">
                  </div>
                  <div class="detail-box">
                    <h5>
                      추천 인기 음식점
                    </h5>
                    <h6>
                      <span>추천 음식</span> hot
                    </h6>
                    <a href="">
                      Order Now <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                       </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6  ">
                <div class="box ">
                  <div class="img-box">
                    <img src="{% static 'images/about-img.png' %} " alt=""> <!--이미지 -->
                  </div>
                  <div class="detail-box">
                    <h5>
                      추천 인기 음식점
                    </h5>
                    <h6>
                      <span>추천 음식</span> hot
                    </h6>
                    <a href="">
                      Order Now <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- end offer section -->
    {% endblock %}

    {% block categories-nav %}
      <div class="container my-4">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <form method="get" class="input-group">
                <input type="text"
                        name="q"
                        class="form-control"
                        placeholder="가게 검색어를 입력하세요."
                        value="{{ query }}">
                <button type="submit" class="btn btn-dark">검색</button>
              </form>
            </div>
          </div>
        </div>


      <ul class="filters_menu">
        <li class="active" data-filter="*">전체</li>
        {% for code, name in categories %}
          <li data-filter=".{{ code }}">{{ name }}</li>
        {% endfor %}
      </ul>
  {% endblock categories-nav %}

    <!-- food section -->
{% block food_section %}

<div class="row grid" id="restaurant-grid">
  <!-- 전체 6개 보여주기 -->
  {% for restaurant in restaurants %}
    <div class="col-sm-6 col-lg-4 filter-item all {{ restaurant.category }}" data-category="all">
      <div class="box">
        <div class="img-box">
          <a href="/restaurants/{{ restaurant.id }}/">
            {% if restaurant.image %}
              <img src="{{ restaurant.image.url }}" alt="{{ restaurant.name }}">
            {% else %}
              <img src="{% static 'images/about-img.png' %}" alt="기본 이미지">
            {% endif %}
          </a>
        </div>
        <div class="detail-box">
          <h5>{{ restaurant.name }}</h5>
          <p>{{ restaurant.description }}</p>
        </div>
      </div>
    </div>
  {% endfor %}

  <!-- 카테고리별 6개씩 (전체에 포함된 항목 제외) -->
  {% for code, name in categories %}
    {% for restaurant in category_restaurants|dict_key:code %}
      <div class="col-sm-6 col-lg-4 filter-item {{ code }}" data-category="{{ code }}" style="display:none;">
        <div class="box">
          <div class="img-box">
            <a href="/restaurants/{{ restaurant.id }}/">
              {% if restaurant.image %}
                <img src="{{ restaurant.image.url }}" alt="{{ restaurant.name }}">
              {% else %}
                <img src="{% static 'images/about-img.png' %}" alt="기본 이미지">
              {% endif %}
            </a>
          </div>
          <div class="detail-box">
            <h5>{{ restaurant.name }}</h5>
            <p>{{ restaurant.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>

  <div class="btn-box">
    <a href="{% url 'restaurants:main-detail' %}">View More</a>
  </div>

{% endblock %}