{% extends 'main/base.html' %}
{% load static %}




{% block title %}
        <title>sesac_web_main_detail</title>
{% endblock %}


{% block main_title %}
     <div class="heading_container heading_center">
     <br>
     <br>
        <h1>
          메인 상세페이지 메뉴
        </h1>
      </div>
{% endblock %}


<!-- food 영역 -->
{% block food_section %}
    <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4 all dessert">  <!-- dessert는 디저트 항목 -->
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명1
                  </h5>
                  <p>
                    가게 파는거 설명1
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all japan">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 2
                  </h5>
                  <p>
                    2
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all korea">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 3
                  </h5>
                  <p>
                    3
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all usa">  <!-- dessert는 디저트 항목 -->
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명4
                  </h5>
                  <p>
                    가게 파는거 설명1
                  </p>
                  <!-- 버튼 없애는거
                  <div class="options">
                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all china">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 5
                  </h5>
                  <p>
                    2
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all usa">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 6
                  </h5>
                  <p>
                    3
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all dessert">  <!-- dessert는 디저트 항목 -->
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명1
                  </h5>
                  <p>
                    가게 파는거 설명1
                  </p>
                  <!-- 버튼 없애는거
                  <div class="options">
                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all japan">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 2
                  </h5>
                  <p>
                    2
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all korea">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 3
                  </h5>
                  <p>
                    3
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all usa">  <!-- dessert는 디저트 항목 -->
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명4
                  </h5>
                  <p>
                    가게 파는거 설명1
                  </p>
                  <!-- 버튼 없애는거
                  <div class="options">
                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all china">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 5
                  </h5>
                  <p>
                    2
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all usa">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 6
                  </h5>
                  <p>
                    3
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all dessert">  <!-- dessert는 디저트 항목 -->
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명1
                  </h5>
                  <p>
                    가게 파는거 설명1
                  </p>
                  <!-- 버튼 없애는거
                  <div class="options">
                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all japan">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 2
                  </h5>
                  <p>
                    2
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all korea">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 3
                  </h5>
                  <p>
                    3
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all usa">  <!-- dessert는 디저트 항목 -->
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명4
                  </h5>
                  <p>
                    가게 파는거 설명1
                  </p>
                  <!-- 버튼 없애는거
                  <div class="options">
                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all china">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 5
                  </h5>
                  <p>
                    2
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all usa">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 6
                  </h5>
                  <p>
                    3
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all dessert">  <!-- dessert는 디저트 항목 -->
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명1
                  </h5>
                  <p>
                    가게 파는거 설명1
                  </p>
                  <!-- 버튼 없애는거
                  <div class="options">
                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all japan">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 2
                  </h5>
                  <p>
                    2
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all korea">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 3
                  </h5>
                  <p>
                    3
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all usa">  <!-- dessert는 디저트 항목 -->
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명4
                  </h5>
                  <p>
                    가게 파는거 설명1
                  </p>
                  <!-- 버튼 없애는거
                  <div class="options">
                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all china">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 5
                  </h5>
                  <p>
                    2
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all usa">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 6
                  </h5>
                  <p>
                    3
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all dessert">  <!-- dessert는 디저트 항목 -->
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명1
                  </h5>
                  <p>
                    가게 파는거 설명1
                  </p>
                  <!-- 버튼 없애는거
                  <div class="options">
                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all japan">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 2
                  </h5>
                  <p>
                    2
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all korea">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 3
                  </h5>
                  <p>
                    3
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all usa">  <!-- dessert는 디저트 항목 -->
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명4
                  </h5>
                  <p>
                    가게 파는거 설명1
                  </p>
                  <!-- 버튼 없애는거
                  <div class="options">
                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all china">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 5
                  </h5>
                  <p>
                    2
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all usa">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/about-img.png' %} " alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    가게명 6
                  </h5>
                  <p>
                    3
                  </p>
                  <!--
                  <div class="options">

                    <a href="">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">

                      </svg>
                    </a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>  <!-- grid-->
{% endblock %}

